<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Welcome to the Jr. Dev Mentoring community.</h1>
    <p class="text-center">Developers must fill out a profile in order to be visible in the community.</p>
    <div class="well">
     <%= render 'form' %>
    </div>
  </div>
</div>
