<h2 class='text-center'>Jr. Dev Mentoring's Community of Mentees</h2>
<h4 class='text-center'>How does this work?</h4>
<p class='text-center'>1. Search through the profiles to find someone who you'd be interested in working with.<br> 2. Click on their avatar or name to view their complete profile.<br> 3. If this is someone you would like to work with, click on the <strong>"Mentor Me"</strong> button and the Jr. Dev Mentoring team will take it from there.</p>
<%= render 'profiles/community_profile', users: @mentees %>