<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a message from the Jr. Dev Mentoring site's connect form </p>
    <p> from <%= "#{ @requester_name }, #{ @requester_email }." %></p>
    <p>and they would like to connect with <%= "#{ @requested_name }, #{ @requested_email }" %></p>
  </body>
</html>