<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a message from the Jr. Dev Mentoring site's connect form </p>
    <p> from <%= "#{ @requester_name }, #{ @requester_email }." %></p>
    <p>and they would like to connect with you.</p>
    <p>To connect with <%= @requester_name %>, simply copy this email address ( <%= @requester_email %> ) into a new email message and introduce yourself.</p>
  </body>
</html>