<div class="well">
    <h2 class="text-center">Mentees</h2>
    <h4 class='text-center'>Get the support you need.</h4>
    <br><%= link_to "Find a Mentor", "#", class: 'btn btn-default btn-lg btn-block' %>
</div>