<div class='well'>
  <h2 class='text-center'>Your Profile</h2>
  <%= link_to 'Edit your profile', edit_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
  <%= link_to 'View your profile', user_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
</div>