
<div class="container">
	<div class="row">
	    <div class='text-center'><%= image_tag("logo_edit.jpg", :alt => "site logo") %></div>
	    
		<h2 class="text-center">About Jr. Dev Mentoring</h2>
		<br>
        <div class="row well">
            <div class="col-md-3 text-center">
                <div class="box">
                    <div class="box-content">
                        <h1 class="tag-title">Mission</h1>
                        <hr />
                        <h5>To make sure that everyone new to programming has the opportunity to build at least one strong relationship within the coding community.</h5>
                        _____________________________<br>
                        <p>"Corporate mentoring programs have long been recognized as an essential strategy for attracting, developing, and retaining top employees.  According to a survey by the American Society for Training and Development, 75% of private sector executives said that mentoring had been critical in helping them reach their current position".</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <div class="box-content">
                        <h1 class="tag-title">Vision</h1>
                        <hr />
                        <h5>To become the first resource that those new to programming turn to for the support they need.</h5>
                        _____________________________<br>
                        <p>Mentees, this is an opportunity for you to connect with professionals in the programming commmunity to gain the insight, encouragement, and connections that it will take for you to succeed as a junior developer. “Mentors can do a number of things for your career.  They can help you build your resume, guide you on a project, and help you identify resources, including referring you to other mentors and important people in your field” - Ken Williams, Director of the New Voices National Fellowship Program</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <div class="box-content">
                        <h1 class="tag-title">Goal</h1>
                        <hr />
                        <h5>To match anyone new to programming who wants a mentor, with someone willing to guide them to their first junior developer position.</h5>
                        _____________________________<br>
                        <p>Jr. Dev Mentoring, is not intented to replace the various forums, message boards, help groups, etc. that are already available for newbies to use. It is meant to be used as a supplement. Those resources are great for solving problems and answering questons related to specific issues but those new to programming also need to build relationships within the community to be successful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="box">
                    <div class="box-content">
                        <h1 class="tag-title">Commitment</h1>
                        <hr />
                        <h5>Mentors and Mentees agree to partner for a 12-month time frame, connecting at least twice per month.</h5>
                        _____________________________<br>
                        <p>Relationships need to be built before any effective mentoring can take place. An environment of trust and mutuality must be established. It is important for the mentor and mentee to become acquainted with each other (Kutilek & Earnest, 2001; Mincemoyer & Thomson, 1998).</p>
                    </div>
                </div>
            </div>
        </div>           
    </div>
</div>
