<h2>Jr. Dev Mentoring</h2>

The intention of Jr. Dev Mentoring, is not to replace the various forums, message boards, help groups, etc. that are already available for newbies to use. Jr. Dev Mentoring is meant to be used a a supplement. Those resources are great for solving problems and answering questons related to specific issues but mentees also need to build relationships within the community to be successful.