<div class='container'>
    <div class='row'>
    <div class='col-md-12'>
        <h2 class='text-center'>About Jr. Dev Mentoring</h2>
    </div>
    </div>

      <div class='row well'>
        <div class='col-md-4 '>
            <h4 class='text-center'>Left</h4>
            <p>
                The intention of Jr. Dev Mentoring, is not to replace the various forums, message boards, help groups, etc. that are already available for newbies to use. Jr. Dev Mentoring is meant to be used as a supplement. Those resources are great for solving problems and answering questons related to specific issues but mentees also need to build relationships within the community to be successful.
            </p>
        </div>
      
  
    
        <div class='col-md-4'>
            <h4 class='text-center'>Middle</h4>
            <p>
                "Corporate mentoring programs have long been recognized as an essential strategy for attracting, developing, and retaining top employees.  According to a survey by the American Society for Training and Development, 75% of private sector executives said that mentoring had been critical in helping them reach their current position".
            </p>
        </div>
    
        <div class='col-md-4'>
            <h4 class='text-center'>Right</h4>
            <p>
                Mentees, this is an opportunity for you to connect with professionals in the programming commmunity to gain the insight, encouragement, and connections that it will take for you to succeed as a junior developer. “Mentors can do a number of things for your career.  They can help you build your resume, guide you on a project, and help you identify resources, including referring you to other mentors and important people in your field” - Ken Williams, Director of the New Voices National Fellowship Program
            </p>
        </div>
    </div>
</div>
