<div class="jumbotron text-center">
  <h1>Welcome to Jr. Dev Mentoring</h1>
  <h3>Harnessing the Power of Mentorship <br>To Build A Community of Work Ready Jr. Devs.</h3>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="well">
        <h4 class="text-center">Sign up to gain FREE access to our community of mentors, mentees, and internships.</h4>
        <br/>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
</div>
