<div class="jumbotron text-center">
  <h1>Welcome to Jr. Dev Mentoring</h1>
  <h3>Harnessing the Power of Mentorship <br>To Build A Community of Work Ready Jr. Devs.</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Mentee</h2>
      <h4 class="text-center">Sign up for free to gain access to our community of mentors.</h4>
      <br/>
      <%= link_to "Sign Up", new_user_registration_path(plan: @mentee_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Mentor</h2>
      <h4 class="text-center">Sign up for free to lend your expertise and support!</h4><br>
      <%= link_to "Sign Up", new_user_registration_path(plan: @mentor_plan.id), class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>