<% site_action = current_user ? 'continuing to use' : 'visiting' %>

<div class="alert alert-info text-center alert-dismissable">
  <strong>Note!</strong> By <%= site_action %> this site, you <b>agree</b> to abide by the <a href="http://bit.ly/2mMILU1" class="alert-link">code of conduct.</a> Thanks
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>