<!--<li><%=# link_to "Community", community %></li>-->
<!--<li><%=# link_to "My Account", account %></li>-->
<!--<li><%=# link_to "About", about_path %></li>-->
<!--<li><%= link_to "Contact Us", new_contact_path %></li>-->